.container {
    width: 100%;
    margin-top: 25px;
}

.title {
    font-size: 14px;
    margin-bottom: 5px;
}

.caption {
    font-size: 12px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stream {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.fileName {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.meta {
    display: flex;
    gap: 8px;
    font-size: 11px;
}

.speed {
    color: #2aa198;
}

.connections {
    color: #93a1a1;
}
